.image-carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1000px; /* Adjust carousel width as needed */
  margin: auto;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: white !important;
  border: 1px solid #00A3E0;
  border-radius: 10px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none; 
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.carousel-item {
  flex: 0 0 auto;
  width: 300px; /* Adjust width of individual items */
  height: auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
