.categories-container {
    text-align: center;
    padding: 10px;
    z-index: 9999999;
    /* margin: 20px auto; */
  }
  
  .categories-heading {
    font-size: 34px;
    color: #333;
    font-weight: bold;
    margin-bottom: 80px;
  }
  
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .category-image {
    width: 220px;
    height:220px;
    border-radius: 2%;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
  }
  
  .category-image:hover {
    transform: scale(1.05);
  }
  
  .category-title {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    text-align: center;
  }
  
  .categories-divider {
    height: 1px;
    width: 100%;
    background-color: #000;
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    .categories-grid {
      grid-template-columns: repeat(1, 1fr); /* Only one item per row */
    }
  
    .category-item {
      width: 100%; /* Make item take full width */
      height: auto; /* Allow dynamic height */
      padding: 10px; /* Add spacing */
    }
  
    .category-image {
      width: 220px; /* Increase image size */
      height: 220px;
    }
  }
  
    