.categories-container {
    text-align: center;
    padding: 20px;
    /* margin: 20px auto; */
  }
  
  .categories-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 items per row */
    gap: 15px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    /* margin-left: -50px; */
  }
  
  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .category-image {
    width: 220px;
    height:220px;
    border-radius: 2%;
    object-fit: contain;
    border: 2px solid #0293e3;
    transition: transform 0.2s ease-in-out;
  }
  
  .category-image:hover {
    transform: scale(1.05);
  }
  
  .category-title {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    text-align: center;
  }
  
  .categories-divider {
    height: 2px;
    width: 100%;
    background-color: #0293e3;
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    .categories-grid {
      grid-template-columns: repeat(2, 1fr); /* Show 2 items per row on smaller screens */
    }
  
    .category-image {
      width: 80px;
      height: 80px;
    }
  }
    