.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #00A3E0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 80px;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    display: inline;
    font-size: 24px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .menu ul li a:hover {
    color: #FFDD00;
  }
  